In [194]:
import functions
print(functions.__file__)
%reload_ext autoreload
%autoreload 2

/Users/maceli/ifood_cs/code/functions.py

In [195]:
import importlib, functions
importlib.reload(functions)
import pandas as pd
from functions import load_data, check_key_uniqueness,join_group_count,join_group_count_with_nulls,matriz_migracao,resumo_coorte_ativa, process_orders_pandas

In [9]:


df_consumer = pd.read_parquet("data_output/df_consumer.parquet")
df_consumer.head()

,customer_id,active,created_at
0,e8cc60860e09c0bb19610b06ced69c973eb83982cfc98e...,True,2018-04-05T14:49:18.165Z
1,a2834a38a9876cf74e016524dd2e8c1f010ee12b2b684d...,True,2018-01-14T21:40:02.141Z
2,41e1051728eba13341136d67d0757f8d8cc44b2a405b71...,True,2018-01-07T03:47:15.554Z
3,8e7c1dcb64edf95c935147f6d560cb068c44714cb1b21b...,True,2018-01-10T22:17:08.160Z
4,7823d4cf4150c5daeae0bd799206852fc123bdef0cf5d1...,True,2018-04-06T00:16:20.935Z

In [5]:
df_publico_copy=df_publico.copy

In [3]:
df_publico = pd.read_parquet("data_output/df_con_or.parquet")
df_publico.head()

,customer_id,is_target,active,created_at,merchant_id,order_created_at,order_id,order_total_amount,ingestion_date
0,000009e29b12d8c5b9c9579e21384320c2df3bd935f19e...,control,True,2018-04-06T00:05:23.543Z,75168a16437068a463d8c825e7c4638128a028f1745245...,2019-01-01T20:31:38.000Z,c623211eb5dda070416069c51f36e4370260e94ee6a45e...,28.5,2025-11-14
1,000009e29b12d8c5b9c9579e21384320c2df3bd935f19e...,control,True,2018-04-06T00:05:23.543Z,f6b76403a124780d6fc242de3d9c398eec9b436d769b3f...,2019-01-25T23:26:38.000Z,0b6b7456c4bf57f56f97c752b1d500e8ad5b3f535494b8...,30.4,2025-11-14
2,000009e29b12d8c5b9c9579e21384320c2df3bd935f19e...,control,True,2018-04-06T00:05:23.543Z,f6b76403a124780d6fc242de3d9c398eec9b436d769b3f...,2019-01-16T01:31:20.000Z,a31b414ef2936435ed56b98107d714c8f2819a82fcb782...,31.4,2025-11-14
3,000009e29b12d8c5b9c9579e21384320c2df3bd935f19e...,control,True,2018-04-06T00:05:23.543Z,ab0ecc0f539748be384ff8456b251224ede4f833c8058f...,2019-01-10T15:37:46.000Z,b83be3a923ab36e459500fdb5f2afb3ffa887429bb1cbf...,24.9,2025-11-14
4,000009e29b12d8c5b9c9579e21384320c2df3bd935f19e...,control,True,2018-04-06T00:05:23.543Z,659a196ad800c788115707631267ee6a232915cb855180...,2019-01-25T14:57:46.000Z,a6469ab902d0da5d6a258cc6ca1c805dd6b166148ae402...,24.0,2025-11-14

In [198]:
df_final, df_percent=process_orders_pandas(df_publico)

In [199]:
df_final.head()

,customer_id,is_target,active,created_at,merchant_id,order_created_at,order_total_amount,ingestion_date,unique_order_hash,order_created_month,total_amount_mes,ticket_medio,num_pedidos_mes,num_pedidos_hist,prev_order_time,diff_days
3661049,ffffeda85b466b48195c356f8b97f21d0b23958d5815fc...,target,True,2018-03-18T20:13:36.598Z,75ad88804dcd055f654e9f4539d5e2b290f2e0c179fdea...,2018-12-31 23:42:55+00:00,167.0,2025-11-14,ffffeda85b466b48195c356f8b97f21d0b23958d5815fc...,12,167.0,167.0,1,2,NaT,NaN
3661048,ffffeda85b466b48195c356f8b97f21d0b23958d5815fc...,target,True,2018-03-18T20:13:36.598Z,75ad88804dcd055f654e9f4539d5e2b290f2e0c179fdea...,2019-01-30 23:42:55+00:00,167.0,2025-11-14,ffffeda85b466b48195c356f8b97f21d0b23958d5815fc...,1,167.0,167.0,1,2,2018-12-31 23:42:55+00:00,30.0
3661047,ffffe95dc11472a22c46b6d5cdc5c14cf40e0c88a601e0...,target,True,2018-01-06T21:14:22.216Z,79c7e1e515b1ca71f120ec3f8e766b7e11d1fec3e7b767...,2018-12-08 22:02:52+00:00,150.0,2025-11-14,ffffe95dc11472a22c46b6d5cdc5c14cf40e0c88a601e0...,12,209.0,104.5,2,4,NaT,NaN
3661046,ffffe95dc11472a22c46b6d5cdc5c14cf40e0c88a601e0...,target,True,2018-01-06T21:14:22.216Z,79c7e1e515b1ca71f120ec3f8e766b7e11d1fec3e7b767...,2018-12-17 22:53:55+00:00,59.0,2025-11-14,ffffe95dc11472a22c46b6d5cdc5c14cf40e0c88a601e0...,12,209.0,104.5,2,4,2018-12-08 22:02:52+00:00,9.0
3661045,ffffe95dc11472a22c46b6d5cdc5c14cf40e0c88a601e0...,target,True,2018-01-06T21:14:22.216Z,79c7e1e515b1ca71f120ec3f8e766b7e11d1fec3e7b767...,2019-01-07 22:02:52+00:00,150.0,2025-11-14,ffffe95dc11472a22c46b6d5cdc5c14cf40e0c88a601e0...,1,209.0,104.5,2,4,2018-12-17 22:53:55+00:00,20.0

In [200]:
distinct_df = df_final[["customer_id","is_target", "order_created_month", "num_pedidos_mes", "num_pedidos_hist",'total_amount_mes','ticket_medio']].drop_duplicates().reset_index(drop=True)
distinct_df

,customer_id,is_target,order_created_month,num_pedidos_mes,num_pedidos_hist,total_amount_mes,ticket_medio
0,ffffeda85b466b48195c356f8b97f21d0b23958d5815fc...,target,12,1,2,167.00,167.000000
1,ffffeda85b466b48195c356f8b97f21d0b23958d5815fc...,target,1,1,2,167.00,167.000000
2,ffffe95dc11472a22c46b6d5cdc5c14cf40e0c88a601e0...,target,12,2,4,209.00,104.500000
3,ffffe95dc11472a22c46b6d5cdc5c14cf40e0c88a601e0...,target,1,2,4,209.00,104.500000
4,ffffe50aaaed54af0eb463fcc6761b0e17a1d1cdd6b8e1...,control,12,1,2,55.60,55.600000
...,...,...,...,...,...,...,...
1360527,000022ced2f3aa411b66ac41167b272ae528c4acdffeeb...,target,1,2,4,68.65,34.325000
1360528,000021924bf8192f64a7cc17ce7c0bc511cba907308f80...,target,12,2,5,119.90,59.950000
1360529,000021924bf8192f64a7cc17ce7c0bc511cba907308f80...,target,1,3,5,173.90,57.966667
1360530,000009e29b12d8c5b9c9579e21384320c2df3bd935f19e...,control,12,2,10,100.00,50.000000
1360531,000009e29b12d8c5b9c9579e21384320c2df3bd935f19e...,control,1,8,10,273.00,34.125000

In [201]:
df_excluded = distinct_df[distinct_df['customer_id'].isin(id)].reset_index(drop=True)

In [202]:
distinct_df.head()

,customer_id,is_target,order_created_month,num_pedidos_mes,num_pedidos_hist,total_amount_mes,ticket_medio
0,ffffeda85b466b48195c356f8b97f21d0b23958d5815fc...,target,12,1,2,167.0,167.0
1,ffffeda85b466b48195c356f8b97f21d0b23958d5815fc...,target,1,1,2,167.0,167.0
2,ffffe95dc11472a22c46b6d5cdc5c14cf40e0c88a601e0...,target,12,2,4,209.0,104.5
3,ffffe95dc11472a22c46b6d5cdc5c14cf40e0c88a601e0...,target,1,2,4,209.0,104.5
4,ffffe50aaaed54af0eb463fcc6761b0e17a1d1cdd6b8e1...,control,12,1,2,55.6,55.6

Matrix de migracao de clientes

In [203]:
matriz_migracao(distinct_df,mes_0=12,mes_1=1)

   mes_12  mes_1 is_target  total_clientes
0       0      1   control          118956
1       0      1    target          132824
2       1      1   control          241457
3       1      1    target          312919

Dado o numero de 'novo', proceguiremos as analises somente com clientes que tem pedidos em ambos os meses

In [205]:
id_both_monht=distinct_df[distinct_df['order_created_month']==12]['customer_id'].unique()
distinct_df_bt = distinct_df[distinct_df['customer_id'].isin(id_both_monht)].reset_index(drop=True)
len(id_both_monht)

554376

In [210]:
distinct_df_bt.head(20)

,customer_id,is_target,order_created_month,num_pedidos_mes,num_pedidos_hist,total_amount_mes,ticket_medio
0,ffffeda85b466b48195c356f8b97f21d0b23958d5815fc...,target,12,1,2,167.00,167.000000
1,ffffeda85b466b48195c356f8b97f21d0b23958d5815fc...,target,1,1,2,167.00,167.000000
2,ffffe95dc11472a22c46b6d5cdc5c14cf40e0c88a601e0...,target,12,2,4,209.00,104.500000
3,ffffe95dc11472a22c46b6d5cdc5c14cf40e0c88a601e0...,target,1,2,4,209.00,104.500000
4,ffffe50aaaed54af0eb463fcc6761b0e17a1d1cdd6b8e1...,control,12,1,2,55.60,55.600000
5,ffffe50aaaed54af0eb463fcc6761b0e17a1d1cdd6b8e1...,control,1,1,2,55.60,55.600000
6,ffffdfae8a70b042a8f86763f59024f61899d6f30dec60...,target,12,1,2,22.80,22.800000
7,ffffdfae8a70b042a8f86763f59024f61899d6f30dec60...,target,1,1,2,22.80,22.800000
8,ffffd512938c9c6a7fc101b6bc044c2bc542505ceff2a5...,control,12,2,8,53.30,26.650000
9,ffffd512938c9c6a7fc101b6bc044c2bc542505ceff2a5...,control,1,6,8,187.40,31.233333
10,ffffb914ed2fc2abf0763d8ffeb2a6f6a4149d48b71897...,target,12,5,13,97.00,19.400000
11,ffffb914ed2fc2abf0763d8ffeb2a6f6a4149d48b71897...,target,1,8,13,170.00,21.250000
12,ffffb54b6362e4b0eb7f22ca3695fbd1c14865e0d4b42d...,target,12,1,3,9.00,9.000000
13,ffffb54b6362e4b0eb7f22ca3695fbd1c14865e0d4b42d...,target,1,2,3,19.00,9.500000
14,ffff99ee36f50a3139d21acffc30239698e6e3d83d0824...,target,12,1,5,40.98,40.980000
15,ffff99ee36f50a3139d21acffc30239698e6e3d83d0824...,target,1,4,5,173.24,43.310000
16,ffff85c4468857f1f74a9ecc7f558bb64b9a6cb1f88dfc...,target,12,1,2,39.90,39.900000
17,ffff85c4468857f1f74a9ecc7f558bb64b9a6cb1f88dfc...,target,1,1,2,39.90,39.900000
18,ffff5347ec344619920c4ff44449dfd1a34e41c24bd77d...,control,12,7,20,232.52,33.217143
19,ffff5347ec344619920c4ff44449dfd1a34e41c24bd77d...,control,1,13,20,562.02,43.232308

In [207]:

pedidos_hist=resumo_coorte_ativa(distinct_df_bt,12)

In [209]:
pedidos_hist.head()

  is_target  Total_Pedidos_Janeiro  Total_Pedidos_Dezembro  Total_Clientes
0   control                      1                       1           97595
1   control                      2                       1           22495
2   control                      2                       2           19972
3   control                      3                       1           10227
4   control                      3                       2            9732

In [ ]:
df_resumo_por_pedidos.to_csv('pedidos_hist.csv')

In [211]:
distinct_df_bt.columns

Index(['customer_id', 'is_target', 'order_created_month', 'num_pedidos_mes',
       'num_pedidos_hist', 'total_amount_mes', 'ticket_medio'],
      dtype='object')

In [218]:
df_janeiro.head()

,customer_id,is_target,order_created_month,num_pedidos_mes,num_pedidos_hist,total_amount_mes,ticket_medio
1,ffffeda85b466b48195c356f8b97f21d0b23958d5815fc...,target,1,1,2,167.0,167.000000
3,ffffe95dc11472a22c46b6d5cdc5c14cf40e0c88a601e0...,target,1,2,4,209.0,104.500000
5,ffffe50aaaed54af0eb463fcc6761b0e17a1d1cdd6b8e1...,control,1,1,2,55.6,55.600000
7,ffffdfae8a70b042a8f86763f59024f61899d6f30dec60...,target,1,1,2,22.8,22.800000
9,ffffd512938c9c6a7fc101b6bc044c2bc542505ceff2a5...,control,1,6,8,187.4,31.233333

In [216]:
df_janeiro=distinct_df_bt[distinct_df_bt['order_created_month']==1]

In [227]:
import pandas as pd
import numpy as np
from scipy import stats 

def calcular_lift_generico(df_analise: pd.DataFrame, coluna_metrica: str) -> dict:
    """
    Calcula o Lift (ganho percentual) e a SignificÃ¢ncia EstatÃ­stica (P-valor) 
    para uma mÃ©trica contÃ­nua em um teste A/B, usando 'control' e 'target' como rÃ³tulos.

    Args:
        df_analise (pd.DataFrame): DataFrame da coorte, contendo uma linha por cliente, 
                                   com as colunas 'is_target' e a mÃ©trica de interesse.
        coluna_metrica (str): Nome da coluna com os valores agregados (e.g., 'total_amount_mes').

    Returns:
        dict: DicionÃ¡rio com mÃ©dias, Lift, P-valor e status de significÃ¢ncia.
    """
    
    # 1. Calcula as mÃ©dias da mÃ©trica por grupo
    medias = df_analise.groupby('is_target')[coluna_metrica].mean()
    
    try:
        avg_controle = medias.loc['control']
        avg_teste = medias.loc['target']
    except KeyError as e:
        return {"Erro": f"Grupos 'control' ou 'target' ausentes: {e}. Verifique a coluna 'is_target'."}
    
    # 2. CÃ¡lculo do Lift (Teste / Controle - 1)
    lift = (avg_teste / avg_controle) - 1 if avg_controle > 0 else np.nan
    
    # 3. Prepara dados para o Teste t
    data_controle = df_analise[df_analise['is_target'] == 'control'][coluna_metrica]
    data_teste = df_analise[df_analise['is_target'] == 'target'][coluna_metrica]
    
    # Teste t de Student para duas amostras (Welch's t-test, unilateral: Teste > Controle)
    t_stat, p_value = stats.ttest_ind(data_teste, data_controle, equal_var=False, alternative='greater')

    return {
        "Metrica": coluna_metrica,
        "Media_Controle": avg_controle,
        "Media_Teste": avg_teste,
        "Lift": lift,
        "P_Value": p_value,
        "Significativo_05": p_value < 0.05
    }

resultado_amount = calcular_lift_generico(df_janeiro, 'total_amount_mes')

print("--- Resultado do Lift de Amount Total (Valor) ---")
print(f"MÃ©dia Controle: R$ {resultado_amount['Media_Controle']:.2f}")
print(f"MÃ©dia Teste:    R$ {resultado_amount['Media_Teste']:.2f}")
print(f"Lift:           {resultado_amount['Lift']:.2%}")
print(f"P-Valor:        {resultado_amount['P_Value']:.4f}")
print(f"Significativo:  {resultado_amount['Significativo_05']}")

###print("--- Resultado do Lift de FrequÃªncia (Pedidos) ---")
#print(f"Lift: {resultado_frequencia['Lift']:.2%}")
#print(f"P-Valor: {resultado_frequencia['P_Value']:.4f}")
#print(f"Significativo: {resultado_frequencia['Significativo_05']}")

--- Resultado do Lift de Amount Total (Valor) ---
MÃ©dia Controle: R$ 168.02
MÃ©dia Teste:    R$ 185.91
Lift:           10.65%
P-Valor:        0.0000
Significativo:  True

In [228]:
resultado_frequencia = calcular_lift_generico(df_janeiro, 'num_pedidos_mes')

print("--- Resultado do Lift de FrequÃªncia (Pedidos) ---")
print(f"Lift: {resultado_frequencia['Lift']:.2%}")
print(f"P-Valor: {resultado_frequencia['P_Value']:.4f}")
print(f"Significativo: {resultado_frequencia['Significativo_05']}")

--- Resultado do Lift de FrequÃªncia (Pedidos) ---
Lift: 10.91%
P-Valor: 0.0000
Significativo: True