In [20]:
import functions
print(functions.__file__)

/Users/maceli/ifood_cs/code/functions.py

In [22]:
import importlib, functions
importlib.reload(functions)
import pandas as pd
from functions import load_data, check_key_uniqueness,join_group_count,join_group_count_with_nulls

In [9]:


df_consumer = pd.read_parquet("data_output/df_consumer.parquet")
df_consumer.head()

,customer_id,active,created_at
0,e8cc60860e09c0bb19610b06ced69c973eb83982cfc98e...,True,2018-04-05T14:49:18.165Z
1,a2834a38a9876cf74e016524dd2e8c1f010ee12b2b684d...,True,2018-01-14T21:40:02.141Z
2,41e1051728eba13341136d67d0757f8d8cc44b2a405b71...,True,2018-01-07T03:47:15.554Z
3,8e7c1dcb64edf95c935147f6d560cb068c44714cb1b21b...,True,2018-01-10T22:17:08.160Z
4,7823d4cf4150c5daeae0bd799206852fc123bdef0cf5d1...,True,2018-04-06T00:16:20.935Z

In [10]:
df_ab = pd.read_parquet("data_output/df_ab.parquet")
df_ab.head()

                                         customer_id is_target
0  755e1fa18f25caec5edffb188b13fd844b2af8cf5adedc...    target
1  b821aa8372b8e5b82cdc283742757df8c45eecdd72adf4...   control
2  d425d6ee4c9d4e211b71da8fc60bf6c5336b2ea9af9cc0...   control
3  6a7089eea0a5dc294fbccd4fa24d0d84a90c1cc12e829c...    target
4  dad6b7e222bab31c0332b0ccd9fa5dbd147008facd268f...   control

In [25]:
join_group_count_with_nulls(df_consumer,df_ab,['customer_id'],'outer',['is_target','active'])

  is_target  active   count
3    target    True  444861
1   control    True  359700
2    target   False     882
0   control   False     713