In [80]:
%reload_ext autoreload
%autoreload 2

In [79]:
import functions
print(functions.__file__)

/Users/maceli/ifood_cs/code/functions.py

In [81]:
from pathlib import Path

folder = Path("data")
folder.mkdir(parents=True, exist_ok=True)

print(folder.resolve())

/Users/maceli/ifood_cs/code/data

In [82]:
import importlib, functions
importlib.reload(functions)
from functions import load_data, check_key_uniqueness,save_parquet, merge_df
from pathlib import Path

In [43]:
print(load_data)

<function load_data at 0x1471ad120>

In [6]:
URL_CONSUMER = "https://data-architect-test-source.s3-sa-east-1.amazonaws.com/consumer.csv.gz"
df_consumer = load_data(URL_CONSUMER)[["customer_id", "active","created_at"]]

In [7]:
df_consumer.head()

,customer_id,active,created_at
0,e8cc60860e09c0bb19610b06ced69c973eb83982cfc98e...,True,2018-04-05T14:49:18.165Z
1,a2834a38a9876cf74e016524dd2e8c1f010ee12b2b684d...,True,2018-01-14T21:40:02.141Z
2,41e1051728eba13341136d67d0757f8d8cc44b2a405b71...,True,2018-01-07T03:47:15.554Z
3,8e7c1dcb64edf95c935147f6d560cb068c44714cb1b21b...,True,2018-01-10T22:17:08.160Z
4,7823d4cf4150c5daeae0bd799206852fc123bdef0cf5d1...,True,2018-04-06T00:16:20.935Z

In [27]:
check_key_uniqueness(df_consumer, ["customer_id","active","created_at"])

✅ Colunas ['customer_id', 'active', 'created_at'] são NOT NULL e UNIQUE.

In [51]:
ab_test_url = "https://data-architect-test-source.s3-sa-east-1.amazonaws.com/ab_test_ref.tar.gz"
df_ab = load_data(ab_test_url)

In [52]:
check_key_uniqueness(df_ab, ["customer_id","is_target"])
null_indices = [81149]   # exemplo
df_ab.loc[null_indices]
df_ab_np = df_ab[~df_ab["customer_id"].isna()]
df_ab_np.head()

❌ Colunas ['customer_id', 'is_target'] contêm valores nulos.

Soma de nulos por coluna:
customer_id    1
is_target      0
dtype: int64

Índices com nulos:
[81149]

                                         customer_id is_target
0  755e1fa18f25caec5edffb188b13fd844b2af8cf5adedc...    target
1  b821aa8372b8e5b82cdc283742757df8c45eecdd72adf4...   control
2  d425d6ee4c9d4e211b71da8fc60bf6c5336b2ea9af9cc0...   control
3  6a7089eea0a5dc294fbccd4fa24d0d84a90c1cc12e829c...    target
4  dad6b7e222bab31c0332b0ccd9fa5dbd147008facd268f...   control

In [77]:
publico=merge_df(df_ab_np,df_consumer,['customer_id'],'outer')

In [83]:
save_parquet(publico, "data_output", "df_publico.parquet")

Arquivo Parquet salvo em: /Users/maceli/ifood_cs/code/data_output/df_publico.parquet

PosixPath('data_output/df_publico.parquet')