In [1]:
import importlib, functions
importlib.reload(functions)
import pandas as pd
from functions import load_data, check_key_uniqueness,join_group_count,join_group_count_with_nulls,matriz_migracao,resumo_coorte_ativa, process_orders_pandas,save_parquet

In [31]:
id_dezembro_janeiro = pd.read_parquet("data_output/ID_DEZEMBRO_JANEIRO.parquet")
id_dezembro_janeiro = id_dezembro_janeiro['customer_id'].unique().tolist()
id_janeiro = pd.read_parquet("data_output/ID_JANEIRO.parquet")
publico_hash = pd.read_parquet("data_output/publico_hash.parquet")

In [32]:
publico_janeiro_dezembro= publico_hash[publico_hash['customer_id'].isin(id_dezembro_janeiro)].reset_index(drop=True)

In [23]:
id_dezembro_janeiro['customer_id'].unique()

array(['ffffeda85b466b48195c356f8b97f21d0b23958d5815fcd401d62f0f4c426195',
       'ffffe95dc11472a22c46b6d5cdc5c14cf40e0c88a601e0ce58f1b3897d5730a9',
       'ffffe50aaaed54af0eb463fcc6761b0e17a1d1cdd6b8e188ce3b83bd28cd680c',
       ...,
       '000022ced2f3aa411b66ac41167b272ae528c4acdffeebb88a59af9ceeba4717',
       '000021924bf8192f64a7cc17ce7c0bc511cba907308f80f3be7d81df1480e909',
       '000009e29b12d8c5b9c9579e21384320c2df3bd935f19e12402be6b07a099361'],
      dtype=object)

In [33]:
publico_janeiro_dezembro.head()

,customer_id,is_target,active,created_at,merchant_id,order_created_at,order_total_amount,ingestion_date,unique_order_hash,order_created_month,total_amount_mes,ticket_medio,num_pedidos_mes,num_pedidos_hist,prev_order_time,diff_days
0,ffffeda85b466b48195c356f8b97f21d0b23958d5815fc...,target,True,2018-03-18T20:13:36.598Z,75ad88804dcd055f654e9f4539d5e2b290f2e0c179fdea...,2018-12-31 23:42:55+00:00,167.0,2025-11-14,ffffeda85b466b48195c356f8b97f21d0b23958d5815fc...,12,167.0,167.0,1,2,NaT,NaN
1,ffffeda85b466b48195c356f8b97f21d0b23958d5815fc...,target,True,2018-03-18T20:13:36.598Z,75ad88804dcd055f654e9f4539d5e2b290f2e0c179fdea...,2019-01-30 23:42:55+00:00,167.0,2025-11-14,ffffeda85b466b48195c356f8b97f21d0b23958d5815fc...,1,167.0,167.0,1,2,2018-12-31 23:42:55+00:00,30.0
2,ffffe95dc11472a22c46b6d5cdc5c14cf40e0c88a601e0...,target,True,2018-01-06T21:14:22.216Z,79c7e1e515b1ca71f120ec3f8e766b7e11d1fec3e7b767...,2018-12-08 22:02:52+00:00,150.0,2025-11-14,ffffe95dc11472a22c46b6d5cdc5c14cf40e0c88a601e0...,12,209.0,104.5,2,4,NaT,NaN
3,ffffe95dc11472a22c46b6d5cdc5c14cf40e0c88a601e0...,target,True,2018-01-06T21:14:22.216Z,79c7e1e515b1ca71f120ec3f8e766b7e11d1fec3e7b767...,2018-12-17 22:53:55+00:00,59.0,2025-11-14,ffffe95dc11472a22c46b6d5cdc5c14cf40e0c88a601e0...,12,209.0,104.5,2,4,2018-12-08 22:02:52+00:00,9.0
4,ffffe95dc11472a22c46b6d5cdc5c14cf40e0c88a601e0...,target,True,2018-01-06T21:14:22.216Z,79c7e1e515b1ca71f120ec3f8e766b7e11d1fec3e7b767...,2019-01-07 22:02:52+00:00,150.0,2025-11-14,ffffe95dc11472a22c46b6d5cdc5c14cf40e0c88a601e0...,1,209.0,104.5,2,4,2018-12-17 22:53:55+00:00,20.0